{% extends "./base.html" %}

{% block content %}
<div class='onboarding'>
  <form method='get' action="{% url 'userflow:experience'  %}">
    <div class="form-group">
      <label for="period_length">How long does your period typically last?</label>
      <div class="input-group ">
        <input type="number" name="period_length" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text">Days</span>
        </div>
      </div>
      
    </div>
    <div class="form-group">
      <label for="cycle_length">What is the typical number of days between your periods?</label>
      <div class="input-group ">
        <input type="number" name="cycle_length" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text">Days</span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="cycle_length">When did your last period occured?</label>
      <div class="form-row">
        <div class='col-6'>
          <select name="last_period_day" class="form-control">
            {% for i in i|rjust:31 %}
              <option>{{ forloop.counter }}</option>
            {% endfor %}
          </select>
        </div>        
        <div class='col-6'>
          <select name="last_period_month" class="form-control">
            <option>April</option>
            <option>May</option>
          </select>
        </div>
        
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-outline btn-outline-light btn-block">
    Show Me Magic</button>
  </form>
</div>
{% endblock %}